version: "3"
services:
  podcast-rss:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./podcasts:/app/podcasts
      - ./static:/app/static
      - ./config.ini:/app/config.ini
    restart: unless-stopped
